.titulocontacto {
	display: flex;
	width: 100%;
	justify-content: center;
	
}

.contacto {
	display: flex;
	justify-content: center;
}

.formulario {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.formularioMobile {
	display: flex;
	width: 10px;
	height: 25%;
}

.input {
	display: flex;
	flex-direction: row;
	justify-content: center;
}