.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #1c1c1c;
}

.App-link {
	color: #ffffff;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@font-face {
	font-family: akira;
	src: url(akira.otf);
  }
 
h1{font-family: akira;}

button {
	font-size: calc(10px + 2vmin);
}

.barra {
	display: flex;
}

.footer {
	display: flex;
	justify-content: center;
	background-color: black;
	min-height: 200px;
}

.footerMobile {
	display:"flex";
	background-color: black;
	
}

.redesFooterMobile {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 20px;
}

.contactoFooterMobile {
	display: flex;
	justify-content: right;
	align-items: center;
	height: 80px;
	margin-top: 20px;
}

.enfoqueFooter {
	display: flex;
	margin: 100px;
}

.enfoqueFooterMobile {
	display: flex;
	justify-content: center;
	height: 10px;
	
}

.redesFooter {
	display: flex;
	justify-content: left;
	margin: 100px;
	align-items: center;
}

.contactoFooter {
	display: flex;
	justify-content: right;
	margin: 100px;
	align-items: center;
}

.links {
	color: rgb(245, 234, 234);
	text-decoration: none;
	display: flex;
	justify-content: flex-end;
	letter-spacing: 1pt;
	list-style: none;
	
}

.linksMobile {
	background-color: #282c34;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	letter-spacing: 1pt;
	list-style: none;
}

.menuMobile {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rutitas {
	color: #ffffff;
	margin: 10px;
	text-decoration: none;
}

.botonAbajo {
	position: absolute;
	display: flex;
	align-items: center;
	width: 40px;
}

.flechitaAbajo {
	background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.produ {
	display: flex;
	/* width: 400px; */
	justify-content: center;
	font-size: 25px;
}

.produMobile {
	display: flex;
	font-size: 10px;
	justify-content: center;

}





.botoncitos {
	display: flex;
	margin-top: 150px;
	justify-content: space-around ;
	align-items: center;
	height: 60px;
	
}

.botoncitosMobile  {
	display: flex;
	flex-wrap: wrap;
	height: 250px;
	justify-content: space-between;
	margin-top: 200px;
	width: 300px;
	margin-left: 10%;
	
}

.botoncitos2 {
	display: flex;
	margin-top: 150px;
	justify-content: space-around ;
	align-items: center;
	height: 100px;
	
}

.botonesInicio {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.botonEnfoque {
	width: 200px;
	height: 50px;
	margin: 20px;
	background-color: transparent;
	border:none
}

/* Hasta aca todo CSS de INICIO */





/* Aca arranco css diseño y redes */






/* Aca arranco pantalla 3D */

